.a{
	width:310px;
	height:230px;	
	border-radius:15px;
}
.b{
	width:310px;
	height:230px;
	border-radius:15px;
	margin-left:20px;
}
.c{
	width:310px;
	height:230px;
	border-radius:15px;
	margin-left:20px;
}
.d{
	width:310px;
	height:230px;
	border-radius:15px;
	margin-left:20px;
}
